<!DOCTYPE html>
<html>
<head>
    <title>Sistema</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- 🔝 MENU SUPERIOR -->
    <div class="menu">
        <div>
            <a href="/dashboard" >Dashboard</a>
        <a href="/pacientes">Inserir Paciente</a>
        <a href="/atendimentos">Inserir Atendimentos</a>
        </div>
        <div>
            <a href="/logout">Sair</a>
        </div>
    </div>

    <div style="padding:20px;">
        {% block conteudo %}{% endblock %}
    </div>
<!-- Modal -->
<div id="modalPaciente" class="modal">
  <div class="modal-content">

    <h2>Prontuário do Paciente</h2>

    <!-- ABAS -->
    <div class="tabs">
      <button onclick="abrirAba('identificacao')">Identificação</button>
      <button onclick="abrirAba('pessoal')">Pessoal</button>
      <button onclick="abrirAba('familia')">Família</button>
      <button onclick="abrirAba('endereco')">Endereço</button>
      <button onclick="abrirAba('status')">Status</button>
    </div>

    <!-- CONTEÚDO -->

    <div id="identificacao" class="aba">
      <label>Prontuário:</label>
      <input id="prontuario" readonly>

      <label>Nome do Paciente:</label>
      <input id="nome_paciente" readonly>

      <label>Nome Social:</label>
      <input id="nome_social" readonly>

      <label>CPF:</label>
      <input id="cpf" readonly>

      <label>RG:</label>
      <input id="rg" readonly>

      <label>CNS:</label>
      <input id="cns_paciente" readonly>
    </div>

    <div id="familia" class="aba" style="display:none;">
      <label>Mãe:</label>
      <input id="nome_mae" readonly>

      <label>Pai:</label>
      <input id="nome_pai" readonly>

      <label>Responsável:</label>
      <input id="nome_responsavel" readonly>

      <label>Parentesco:</label>
      <input id="grau_parentesco_responsavel" readonly>

      <label>Telefone:</label>
      <input id="telefone_responsavel" readonly>
    </div>

    <div id="pessoal" class="aba" style="display:none;">
      <label>Data de Nascimento:</label>
      <input id="data_nascimento" readonly>

      <label>Sexo:</label>
      <input id="sexo" readonly>

      <label>Naturalidade:</label>
      <input id="naturalidade" readonly>

      <label>Raça/Cor:</label>
      <input id="raca_cor" readonly>

      <label>Escolaridade:</label>
      <input id="escolaridade" readonly>

      <label>Etinia:</label>
      <input id="etnia" readonly>
    </div>

    <div id="endereco" class="aba" style="display:none;">
      <label>Município:</label>
      <input id="municipio" readonly>

      <label>UF:</label>
      <input id="uf" readonly>

      <label>CEP:</label>
      <input id="cep" readonly>

      <label>Bairro:</label>
      <input id="bairro" readonly>

      <label>Logradouro:</label>
      <input id="logradouro" readonly>

      <label>Número:</label>
      <input id="numero" readonly>

      <label>Complemento:</label>
      <input id="complemento" readonly>
    </div>

    <div id="status" class="aba" style="display:none;">
      <label>Status:</label>
      <input id="status" readonly>

      <label>CID:</label>
      <input id="cid" readonly>

      <label>Admissão:</label>
      <input id="data_admissao" readonly>

      <label>Conclusão:</label>
      <input id="data_conclusao" readonly>
    </div>

    <br><br>

     <!-- BOTÕES -->
    <button id="btnEditar" onclick="habilitarEdicao()">✏️ Editar</button>

    <button id="btnSalvar" onclick="salvarEdicao()" style="display:none;">
      💾 Salvar
    </button>

    <button onclick="fecharModal()">Fechar</button>


  </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>